h1 {font-size: xx-large;
  text-align: center;
}

h2 {font-size: x-large;
  text-align: center;
}

.highlight {color: red
}

.box-1  {
  border: 4px solid indigo;
  padding: 10px;
  background-color: white;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 85%;
  box-sizing: border-box;
  float: center
}

.centered-image {
  margin: auto;
  width: 50%;
  display: block;
}